.Game-container {
    margin: 0 auto;
    width: 400px;
}

.Grid {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-around;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    flex-flow: row wrap;
}

.Grid_3 {
    width: 230px;
    height: 230px;
}

.Grid_5 {
    width: 370px;
    height: 370px;
}

.Grid_6 {
    width: 450px;
    height: 450px;
}

.Grid__Tile {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 2px;
    background: orange;
    line-height: 70px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 2px;
}

.Grid__Tile_empty {
    background: #e8e8e8;
}