.Grid {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-around;
    margin: 50px auto;
    flex-flow: row wrap;
}

.Grid_3 {
    width: 230px;
    height: 230px;
}

.Grid_5 {
    width: 370px;
    height: 370px;
}

.Grid_6 {
    width: 450px;
    height: 450px;
}

.Grid__Tile {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 2px;
    background: orange;
    line-height: 70px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 2px;
}

.Grid_win .Grid__Tile {
    background: green;
}

.Grid__Tile_empty , .Grid_win .Grid__Tile_empty{
    background: #e8e8e8;
}

.New-game {
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    outline-width: 0;
}